@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 24px;
  height: 100%;
  margin: 50px 0;
  text-align: center;
}

.site-layout-content .ant-row {
  text-align: center;
}

.top-layer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.token-button {
  min-width: 200px;
}