@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 24px;
  height: 100%;
  margin: 50px 0;
  text-align: center;
}

.site-layout-content .ant-row {
  text-align: center;
}

.top-layer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.token-button {
  min-width: 200px;
  white-space: normal;
  height: auto;
  display: inline-block;
}

.token-list {
  display: block;
}

.cross-text {
  text-decoration: line-through;
}

.list-button.first {
  margin: 0px 4px 0px 9px;
}

.list-button {
  margin: 0px 4px;
  min-width: 120px;
}

.button-confirm {
  background-color: #1890ff;
  color: white;
}

.button-error {
  background-color: #ff4d4f;
  color: white;
}

.list-copy-icon i {
  font-size: 20px;
  position: relative;
  top: 3px;
}

.get-token-text {
  font-size: 100px;
}

.t2-background {
  background-image: url(./asset/t2Background.png);
}

.t3-background {
  background-image: url(./asset/t3Background.png);
}

@media only screen and (max-width: 672px) {
  .get-token-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .token-button {
    min-width: 10px;
  }
}
