.top-note {
  display: block;
  margin-bottom: 20px;
}

.token-text {
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #73ad21;
  padding: 0 10px;
  background-color: lightskyblue;
}

.token-text-err {
  background-color: white;
}

.token-col {
}

@media only screen and (max-width: 600px) {
  .token-text {
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #73ad21;
    padding: 0 10px;
    background-color: lightskyblue;
  }
}
